@{
    ViewBag.Title = "Phieu ra cong";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}
<script src="~/Scripts/jquery-1.4.1.min.js"></script>
<style>
    input[type=text] {
        width: 100%;
        height: 25px;
        text-align: center;
    }

    textarea {
        width: 100%;
        height: 100px;
        text-align: center;
    }

    th {
        color: #FFF;
        background-color: navy;
    }

    .row1 {
        background-color: #DDD;
    }

    a {
        text-decoration: none;
    }

    .tt {
        text-align: center;
    }

    .data {
        width: 100%;
        border-collapse: collapse;
    }
    h1 {
        color: red;
    }
    #total th {
        text-align: right;
    }
</style>
<h1>
    Outbound còn thiếu của phiếu: @Request.QueryString["id"]
</h1>
<table class="data" cellpadding="5" cellspacing="0" border="1">
    <tr>
        <th>
            TT
        </th>
        <th>Outbound</th>
        <th>
            Thông tin
        </th>

    </tr>
    @foreach (System.Data.DataRow item in ViewBag.data)
    {
        <tr class="row">
            <td class="tt"></td>
            <td align="center">
                <a href="/admin/obinfo?id=@item["OB"]">
                    @item["OB"]
                </a>
            </td>
            <td>
                @if (item["T"].ToString() != "0")
                {
                    <p>

                        Thùng: @item["T"]
                    </p>
                }
                @if (item["B"].ToString() != "0")
                {
                    <p>
                        Bao: @item["B"]
                    </p>
                }
                @if (item["Q2"].ToString() != "0")
                {
                    <p>
                        Hàng: @item["Q2"]
                    </p>
                }
                @if (item["Q3"].ToString() != "0")
                {
                    <p>
                        Túi xốp: @item["Q3"]
                    </p>
                }
            </td>

        </tr>
    }

</table>
<script type="text/javascript">
    $(document).ready(function () {
        var arr = $(".data").find(".row").get();
        for (var i = 0; i < arr.length; i++) {
            $(arr[i]).addClass("row" + (i % 2));
        }
        arr = $(".data").find(".tt").get();
        for (var i = 0; i < arr.length; i++) {
            $(arr[i]).html(i + 1);
        }


    });

</script>