@{
    /**/

    ViewBag.Title = "Chọn lại vị trí";
    Layout = "~/Views/Shared/SP.cshtml";
}
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css">

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>


<link href="~/css/tv.css?v=1" rel="stylesheet" />
<style>
    html {
        background-color: #FFF;
    }

    body {
        margin: 0 auto;
        font-family: Arial;
        font-size: 12px;
    }

    h1 {
    }


    .clear {
        clear: both
    }
</style>
<h1>
    Chọn lại vị trí
</h1>

<table cellpadding="5" cellspacing="0">

    <tr>
        <td>
            Mã hàng
        </td>
        <td>
            @Request.QueryString["i"]
        </td>
    </tr>

    <tr>
        <td>
            Vị trí cần lấy
        </td>
        <td>

            <select value="@Request.QueryString["p"]" class="easyui-combobox lid" valuefield="Location" required="true" textfield="Title" name="lid" id="lid"
                    style="width: 100%;" data-options="valueField:'Location',textField:'Title',url:'/admin/Get_RemainCombo?id=@Request.QueryString["i"]'"></select>


        </td>
    </tr>


    <tr>
        <td>
            Số lượng cần lấy
        </td>
        <td>
            <input type="text" name="name" value="@Request.QueryString["sl"]" id="quantity" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" name="name" value="Cập nhật" onclick="thaydoi()" />
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
         $('#lid').combobox('setValues', ['@Request.QueryString["p"]', '@Request.QueryString["p"]']);
        

    })
    function thaydoi() {
        if ($("#quantity").val() == "") {
            alert('Bạn chưa nhập số lượng');
            $("#quantity").focus();
            $("#quantity").select();

            return;
        }

        if (isNaN( $("#quantity").val()) == true) {
            alert('Số lượng không hợp lệ');
            $("#quantity").focus();
            $("#quantity").select();
            return;
        }

       var v= document.getElementsByName("lid");

        var lid = $(v).val();

        $.post('/admin/thaydoi', {
            VoucherID: '@Request.QueryString["id"]',
            Quantity: $("#quantity").val(),
            ItemID: '@Request.QueryString["i"]',
            OldLocation: '@Request.QueryString["p"]',
            NewLocation:lid
        }, function (result) {
            if (result.success) {
                alert(result.msg);
                parent.location = parent.location;

            } else {

                alert(result.errorMsg);
            }
        }, 'json');
    }
</script>