@{
    ViewBag.Title = "Danh sách phiếu lấy hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/loading.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $("#viewxk").addClass("menuselect");

    })

</script>
<h1>
    Xem phiếu lấy hàng
</h1>
<div style="margin: 10px 0;"></div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none;">
    <input class="easyui-datebox fromdate" labelWidth="150" data-options="formatter:myformatter,parser:myparser" label="Từ ngày" data-options="searcher:doSearch" style="width: 100%;" value="@Request.QueryString["from"]">
</div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none">
    <input class="easyui-datebox todate" labelWidth="150" data-options="formatter:myformatter,parser:myparser" label="Đến ngày" data-options="searcher:doSearch" style="width: 100%;" value="@Request.QueryString["to"]">
</div>
<div style="margin: 10px 0;"></div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none">
    <input value="@Global.Commons.ConvertToString(Request.QueryString["key"])" labelWidth="150" class="keyword easyui-searchbox" label="Chứng từ" data-options="searcher:doSearch" style="width: 100%">
</div>
<script>
    function doSearch() {
        var key = $(".keyword").val();
        var fromdate = $(".fromdate").val();
        var todate = $(".todate").val();
        location = "/admin/ViewXK?key=" + key + "&from=" + fromdate + "&to=" + todate;
    }
    $('.fromdate').datebox({
        onSelect: function (date) {
            setTimeout(doSearch, 300);
        }
    });
    $('.todate').datebox({
        onSelect: function (date) {
            setTimeout(doSearch, 300);
        }
    });

</script>
<div class="clear">
</div>
<div id="nd">
    <p><a href="javascript:batcanhbao()">bật cảnh báo </a></p>
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
<div class="clear">
    <br />
</div>
<table id="dg" title="Danh sách phiếu lấy hàng: @ViewBag.Count - Tổng SL: @ViewBag.Sum - Đã quét: @ViewBag.Sum1 " nowrap="False" class="easyui-datagrid" style="width: 100%; height: 350px; margin: 0 auto" url="/admin/get_xk?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]&page=@Request.QueryString["page"]&key=@Request.QueryString["key"]" toolbar="#toolbar" rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th field="VoucherDate" width="100" align="center">Ngày</th>
            <th field="VoucherID" width="90" align="center">Số phiếu</th>
            <th field="DT" width="100" align="center">OutBound</th>
            <th field="OB" width="80" align="center">Số outbound</th>
            <th field="VT" width="90" align="center">Vị trí</th>
            <th field="CheckBalance" width="70" align="center">Loại</th>
            <th field="Status" width="130" align="center">Trạng thái</th>
            <th field="Locked" width="70" align="center">Khóa</th>
            <th field="DH" width="200" align="center">Tình trạng hàng</th>
            <th field="FullName" width="150" align="center">Người tạo</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="printItem()">In phiếu</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="inthang()">In thẳng</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="exportItem()">Xuất excel danh sách</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="exportItemDetail()">Xuất excel chi tiết</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="chiahang()">Chia hàng</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editItem()">Sửa</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="reinstall()">Phân bổ lại</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="deleteItem()">Xóa</a>
    @* <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="comparess()">Đối chiếu dữ liệu scanner</a>*@

    @*@if (Global.GlobalVariables.IsAdmin)
        {
            <a href="javascript:void(0)" class="easyui-linkbutton reloaddh" iconcls="icon-save" plain="true"
               onclick="reloaddh()">Cập nhật lại đơn hàng từ SAP</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="lockvoucher()">Khóa lại chứng từ đã hoàn thành(dành cho chứng từ đã quét đủ hàng)</a>
            //<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="reinstall()">Khởi tạo lại</a>

        }*@
</div>

<div class="clear">
    <br />
</div>
<center>
    Trang :
    @foreach (System.Data.DataRow itemp in ViewBag.Paging.Rows)
    {
        <a href="@itemp["link"]" class="@itemp["class"]">@itemp["text"]</a>
    }
</center>

<audio id="audio" src="/sound/beep-07.wav" autostart="false"></audio>
<audio id="audio1" src="/sound/error.wav" autostart="false"></audio>


<script type="text/javascript">
    function exportItem() {
          var l = "/admin/exportxk?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]";
        open(l);
    }
    function exportItemDetail() {
          var l = "/admin/exportxkct?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]";
        open(l);
    }
    function playSound() {
        var sound = document.getElementById("audio");
        sound.play();
    }
    function playSound1() {
        var sound = document.getElementById("audio1");
        sound.play();
    }
    function deleteItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn xóa phiếu này?', function (r) {
                if (r) {

                    $.post('/admin/DeleteVoucherXK', { VoucherID: row.VoucherID }, function (result) {
                        if (result.success) {
                            playSound();
                            alert('Đã xóa thành công');

                            location = location;

                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                            playSound1();
                        }
                    }, 'json');
                }
            });
        }

    }


    function confirmxk() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn xác nhận phiếu này đã xuất để trừ trong báo cáo tồn?', function (r) {
                if (r) {

                    $.post('/admin/ConfirmXK', { VoucherID: row.VoucherID }, function (result) {
                        if (result.success) {
                            playSound();
                            alert('Đã xác nhận thành công');
                            location = location;

                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                            playSound1();
                        }
                    }, 'json');
                }
            });
        }

    }
    function reloaddh() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn cập nhật lại phiếu này?', function (r) {
                if (r) {
                    $(".reloaddh").hide();

                    $.post('/admin/reloaddh', { VoucherID: row.VoucherID }, function (result) {
                        if (result.success) {
                            playSound();
                            alert(result.msg);
                            $('#dg').datagrid('reload');
                            $(".reloaddh").show();
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                            playSound1();
                            $(".reloaddh").show();
                        }
                    }, 'json');
                }
            });
        }

    }
    function lockvoucher() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn khóa phiếu này? Khi phiếu bị khóa rồi bạn sẽ không còn được sửa hoặc xóa nữa.', function (r) {
                if (r) {

                    $.post('/admin/lockvoucher', { VoucherID: row.VoucherID }, function (result) {
                        if (result.success) {
                            playSound();
                            alert(result.msg);
                            location = location;

                        } else {

                            playSound1();
                            alert(result.errorMsg);

                        }
                    }, 'json');
                }
            });
        }

    }
    function tranvoucher() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn di hàng thiếu vào chờ xử lý và khóa phiếu này lại? Khi phiếu bị khóa rồi bạn sẽ không còn được sửa hoặc xóa nữa.', function (r) {
                if (r) {

                    $.post('/admin/DiHangThieu', { VoucherID: row.VoucherID }, function (result) {
                        if (result.success) {
                            playSound();
                            alert(result.msg);
                            location = location;

                        } else {

                            playSound1();
                            alert(result.errorMsg);

                        }
                    }, 'json');
                }
            });
        }

    }
    var url;

    function editItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {

            url = '/admin/SX?id=' + row.VoucherID;
            location = url;
        }
    }

    function chiahang() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.post('/admin/CheckVoucherExists', {
                VoucherID: row.VoucherID
            }, function (result) {
                if (result.success) {
                    playSound();
                    var l = '/admin/chiahang1?id=' + row.VoucherID;
                    open(l);
                } else {
                    $.messager.show({    // show error message
                        title: 'Error',
                        msg: result.errorMsg
                    });
                    playSound1();
                    alert(result.errorMsg);
                }
            }, 'json');


        }
    }
    function comparess() {
        //var row = $('#dg').datagrid('getSelected');
        //if (row) {


        //    $.post('/admin/Comparess', { VoucherID: row.VoucherID }, function (result) {
        //        if (result.success) {
        //            playSound();
        //            alert(result.msg);

        //        } else {
        //            $.messager.show({    // show error message
        //                title: 'Error',
        //                msg: result.errorMsg
        //            });
        //            playSound1();

        //        }
        //    }, 'json');

        //}
        showtc("/admin/CheckOBListTC", 600, 400);
    }
    function treo() {
        showtc('/admin/treo', 600, 400);
    }
    function treovt() {
        showtc('/admin/treovt', 600, 400);
    }
    function treochuain() {
        showtc('/admin/Treochuain', 600, 400);
    }
    function chuaracong() {
        showtc('/admin/chuaracong', 600, 400);
    }
    function reinstall() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            showtc('/admin/reinstallob?id='+row.VoucherID, 600, 400);
        }
    }
    function printItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.post('/admin/CheckPrintCount', {
                VoucherID: row.VoucherID
            }, function (result) {
                if (result.success) {

                    if (result.PrintCount > 0) {
                        warningsound();
                        if (confirm("Phiếu này đã từng in " + result.PrintCount + " lần rồi. Bạn có chắc là muốn in lại nó không?") == false) return;
                    }
                    playSound();
                    var url = '/admin/printoutput?id=' + row.VoucherID;
                    open(url);
                    location = location;

                } else {
                    $.messager.show({    // show error message
                        title: 'Error',
                        msg: result.errorMsg
                    });
                    playSound1();
                    alert(result.errorMsg);
                }
            }, 'json');


        }
    }
    function loadnote() {
        $.post('/admin/GetXKNote', null, function (result) {
            if (result.success) {

                $("#nd").html("<p><a href='javascript:tatcanhbao()'>tắt cảnh báo</a></p>"+result.msg);

            } else {
                $("#nd").html(result.errorMsg);

            }
        }, 'json');

    }
	 function inthang() {
        var OB = prompt("Đầu 8 cần in", "");
        if (OB == null) return;
        if (OB == "") return;


        //GetPickingListFromOB
        $.post('/admin/GetPickingListFromOB', {
            OB: OB
        }, function (result) {
            if (result.success) {
                if (result.PrintCount > 0) {
                    warningsound();
                    if (confirm("Phiếu này đã từng in " + result.PrintCount + " lần rồi. Bạn có chắc là muốn in lại nó không?") == false) return;
                }
                var url = '/admin/printoutput?id=' + result.VoucherID;
                open(url);



            }
            else {
                $.messager.show({    // show error message
                    title: 'Error',
                    msg: result.errorMsg
                });
                playSound1();
                alert(result.errorMsg);
            }
        }
        , 'json');


    }
    function batcanhbao(){
	 $.post('/admin/tatmocanhbao', {  mo: 1 }, function (result) {
            if (result.success) {
			location=location;
            } else {

            }
        }, 'json');

	}

	   function tatcanhbao(){
	 $.post('/admin/tatmocanhbao', {  mo: 0 }, function (result) {
            if (result.success) {
			location=location;
            } else {

            }
        }, 'json');

	}

</script>
<script src="~/Scripts/paging.js"></script>
<script>
    fixpagingcontent('@Request.QueryString["page"]')
</script>
@if (Global.Commons.CheckPermit("canhbaopickhang"))
{
    <script>
                       $(document).ready(function () {
        loadnote();
    })
    </script>



}