@{
    ViewBag.Title = "Danh sách outbound tặng phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(window).load(function () {
        $("#viewscannerforout").addClass("menuselect");

    })

</script>
<h1>
    Danh sách outbound tặng phẩm
</h1>

<div style="margin: 10px 0;"></div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none;">
    <input class="easyui-datebox fromdate" labelWidth="150" data-options="formatter:myformatter,parser:myparser" label="Từ ngày" data-options="searcher:doSearch" style="width: 100%;" value="@Request.QueryString["from"]">
</div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none">
    <input class="easyui-datebox todate" labelWidth="150" data-options="formatter:myformatter,parser:myparser" label="Đến ngày" data-options="searcher:doSearch" style="width: 100%;" value="@Request.QueryString["to"]">
</div>

<div style="margin: 10px 0;"></div>
<div class="easyui-panel" style="width: 300px; padding: 5px 5px; border: none">
    <input value="@Global.Commons.ConvertToString(Request.QueryString["key"])" labelWidth="150" class="keyword easyui-searchbox" label="Chứng từ" data-options="searcher:doSearch" style="width: 100%">
</div>
<script>
    function doSearch() {
            
        var key = $(".keyword").val();
        var fromdate = $(".fromdate").val();
        var todate = $(".todate").val();
        location = "/admin/viewscannerforout?key=" + key + "&from=" + fromdate + "&to=" + todate;
    }
    $('.fromdate').datebox({
        onSelect: function (date) {
            setTimeout(doSearch, 300);
        }
    });
    $('.todate').datebox({
        onSelect: function (date) {
            setTimeout(doSearch, 300);
        }
    });

</script>
<div class="clear">
</div>
<div id="message">

</div>

<div class="clear">
    <br />

</div>
<table id="dg" title="Danh sách outbound tặng phẩm: @ViewBag.Count - Số bao: @ViewBag.Sum1 - Số thùng: @ViewBag.Sum - Sản phẩm: @ViewBag.Sum3 - Bao xốp: @ViewBag.Sum4 " nowrap="False" class="easyui-datagrid" style="width: 100%; height: 550px; margin: 0 auto" url="/admin/Get_OBForOut?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]&page=@Request.QueryString["page"]&key=@Request.QueryString["key"]" toolbar="#toolbar" rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>

            <th field="CreateDate" width="130" data-options="align:'center'">Ngày thêm</th>
            <th field="OB" width="100" data-options="align:'center'">Đầu 8</th>
            <th field="TotalQuantity" data-options="align:'right'" width="100">Tổng số lượng</th>
            <th field="Q2" data-options="align:'right'" width="100">Tổng số hàng</th>
            <th field="BX" data-options="align:'right'" width="110">Tổng số túi xốp</th>
            <th field="TotalAmount" data-options="align:'right'" width="100">Tổng số tiền</th>
            <th field="Bag" data-options="align:'right'" width="50">Số bao</th>
            <th field="Box" data-options="align:'right'" width="70">Số thùng</th>
            <th field="CustomerName" width="250">Khách hàng</th>
            <th field="Note" width="100">Ghi chú</th>


            <th field="LastModifyDate" width="130" data-options="align:'center'">Ngày sửa</th>

        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editItem()">Sửa</a>
    
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="exportexcel()">Xuất sang excel</a>
    @if (Global.Commons.CheckPermit("obbarcode"))
    {

        <a target="_blank" href="/admin/obbarcodeforout?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]&key=@Request.QueryString["key"]" class="easyui-linkbutton" iconcls="icon-print" plain="true">In mã vạch</a>

    }
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="deleteItem()">Xóa</a>

</div>


<div class="clear">
    <br />
</div>

<center>
    Trang :
    @foreach (System.Data.DataRow itemp in ViewBag.Paging.Rows)
    {
        <a href="@itemp["link"]" class="@itemp["class"]">@itemp["text"]</a>
    }

</center>



<audio id="audio" src="/sound/beep-07.wav" autostart="false"></audio>
<audio id="audio1" src="/sound/error.wav" autostart="false"></audio>




<script type="text/javascript">

    function playSound() {
        try {
            var sound = document.getElementById("audio");
            sound.play();
        } catch (e) {

        }

    }
    function playSound1()
    {
        try {
            var sound = document.getElementById("audio1");
            sound.play();
        } catch (e) {

        }

    }
    function deleteItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn xóa phiếu này?', function (r) {
                if (r) {
                    if (row.Locked == 1) {
                        playSound1();
                        alert('Phiếu này đã bị khoá');
                        $.messager.show({    // show error message
                            title: 'Error',
                            msg: 'Phiếu này đã bị khoá'
                        });

                        return;
                    }
                    $.post('/admin/DeleteOBForOut', { OB: row.OB }, function (result) {
                        if (result.success) {
                            alert('Đã xóa thành công');
                            playSound();
                            location = location;

                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                            playSound1();
                        }
                    }, 'json');
                }
            });
        }

    }


    var url;

    function editItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            var winform = '@Request.QueryString["f"]';

            url = '/admin/UpdateScannerForOut1?id=' + row.OB;
            location = url;
        }
    }
    $(document).ready(function () {
        var winform = '@Request.QueryString["f"]';


    });
    
    function exportexcel() {
        var url = "/admin/ESOut?from=@Request.QueryString["from"]&to=@Request.QueryString["to"]&key=@Request.QueryString["key"]";
        location = url;
    }
    
</script>
