<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Admin</title>
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="/CSS/admin.css?v=11" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery-1.4.1.min.js">
    </script>
    <script src="~/Scripts/lib.js?v=6"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css">
    <link href="/css/mobile.css?v=3" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script src="~/Scripts/tuchebox.js?v=6"></script>
    <style>
        .menugroup {
            width: auto;
            text-align: left;
            position: absolute;
            background-color: #000;
            color: #FFF;
            float: left;
            z-index: 100;
        }

            .menugroup a {
                color: #FFF;
                text-transform: uppercase;
                display: block;
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

        body {
            padding-top: 0;
        }

        .menugroup a:hover {
            background-color: #414141;
        }
    </style>
    <script type="text/javascript">
        var isadmin = '@Global.GlobalVariables.IsAdmin';
        function checkquantity(e) {
            if ($(e).val().length > 6)
                $(e).val($(e).val().substring(0, 6));

            var flag = false;
            if (isNaN($(e).val()) == true) {
                flag = true;
                alert("Số lượng không hợp lệ");
                $(e).val("1");
            } else
                if (parseFloat($(e).val()) < 1) {
                    flag = true;
                    alert("Số lượng không hợp lệ")
                    $(e).val("1");
                }
            //if (flag == true)
            //    $(e).css({ "background-color": "yellow" })
            //else
            //    $(e).css({ "background-color": "white" })

        }
        function closepopupproduct() {
            tcboxclose();
        }

        $(document).ready(function () {
            $(".smallmenu").click(function () {
                if ($(".menu-main").hasClass("showm")) {
                    $(".menu-main").slideUp(300, function () {
                        $(".menu-main").removeClass("showm");
                        $(".menu-main").removeAttr("style");
                    });

                }
                else {

                    $(".menu-main").slideDown(300, function () {
                        $(".menu-main").addClass("showm");
                        $(".menu-main").removeAttr("style");
                    });


                }
            })
        })
        //$(window).resize(function () {
        //    $(".menu-main").removeAttr("style");
        //})

    </script>
    <script>
        function formatPrice(val, row) {
            if (val < 30) {
                return '<span style="color:red;">(' + val + ')</span>';
            } else {
                return val;
            }
        }
        function warningsound() {
            var sound = document.getElementById("vet");
            sound.play();
        }
    </script>

</head>
<body>
    <audio id="vet" src="/sound/vet.mp3" autostart="false"></audio>

    <div class="header">
        <div class="info">
            @if (Global.Commons.CheckPermit("ssnk"))
            {
                foreach (System.Data.DataRow item in Global.Commons.GetData("exec SP_GetSSNK").Rows)
                {
                    <span>@item[0] | </span>
                }
            }



            Xin chào :<span class="username">
                @Global.GlobalVariables.FullName - @Global.GlobalVariables.DivisionID
            </span>| <a href="javascript:changeMyPassword()">Đổi mật khẩu</a> | <a href="/admin/logout?f=@Request.QueryString["f"]">Thoát</a>
            <span id="mastermessage" style="color: yellow"></span>
        </div>

        <div class="clear">
        </div>
        <div class="smallmenu">
            <i class="mdi mdi-menu"></i>
        </div>
        <div class="clear">
        </div>
        <div class="menu-main">
            @if (Global.Commons.CheckPermit("thietlaphethong"))
            {
                <div class="menu-e" id="setup" group="Hệ thống">

                    @Html.ActionLink("Thiết lập hệ thống", "Setup", "Admin")
                </div>

            }
            @if (Global.Commons.CheckPermit("obloaitru"))
            {
                <div class="menu-e" id="obloaitru" group="Hệ thống">

                    @Html.ActionLink("Danh sách outbound loại trừ việc ra cổng", "ViewOBLoaiTru", "Admin")
                </div>

            }
            @if (Global.GlobalVariables.IsAdmin)
            {<div class="menu-e" id="backup" group="Hệ thống">

                @Html.ActionLink("Backup", "ViewBackups", "Admin")
            </div>

                <div class="menu-e" id="account" group="Hệ thống">

                    @Html.ActionLink("Quản lý tài khoản", "ViewUsers", "Admin")
                </div>



                <div class="menu-e" id="division" group="Hệ thống">

                    @Html.ActionLink("Quản lý đơn vị", "ViewDivisions", "Admin")
                </div>
                <div class="menu-e" id="ie" group="Sản phẩm">

                    @Html.ActionLink("Danh sách tặng phẩm", "ViewIES", "Admin")
                </div>
                <div class="menu-e" id="mc" group="Sản phẩm">

                    @Html.ActionLink("MC", "ViewMC", "Admin")
                </div>
                <div class="menu-e" id="mchc" group="Sản phẩm">

                    @Html.ActionLink("MC hàng chậm", "ViewMCHC", "Admin")
                </div>

            }
            @if (Global.Commons.CheckPermit("viewItemVolumes"))
            {
                <div class="menu-e" id="itemvolume" group="Sản phẩm">
                    <a href="/admin/viewItemVolumes">Danh sách số khối hàng hóa </a>
                </div>
            }
            @if (Global.Commons.CheckPermit("ViewCustomers"))
            {
                <div class="menu-e" id="viewcustomers" group="Hệ thống">
                    <a href="/admin/viewcustomers">Danh sách khách hàng </a>
                </div>

            }
            @if (Global.Commons.CheckPermit("viewlocations"))
            {
                <div class="menu-e" id="location" group="Hệ thống">
                    <a href="/admin/viewlocations?type=@Global.GlobalVariables.DivisionID">Danh sách vị trí </a>
                </div>

            }

            @if (Global.Commons.CheckPermit("viewitemgroups"))
            {
                <div class="menu-e" id="itemgroup" group="Sản phẩm">
                    <a href="/admin/viewitemgroups">Danh sách nhóm </a>
                </div>
            }
            @if (Global.Commons.CheckPermit("inputw"))
            {
                <div class="menu-e" id="inputw" group="Pallet">
                    <a href="/admin/inputw">Nhập pallet</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("viewpallets"))
            {
                <div class="menu-e" id="viewpallet" group="Pallet">
                    <a href="/admin/viewpallets?date=@DateTime.Now.ToString("dd/MM/yyyy")&dateto=@DateTime.Now.ToString("dd/MM/yyyy")">Danh sách pallet</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("xcvt"))
            {
                <div class="menu-e" id="xcvt" group="Pallet">
                    <a href="/admin/xcvt">Xác thực vị trí đặt pallet</a>
                </div>

            }
            @if (Global.Commons.CheckPermit("xk"))
            {
                <div class="menu-e" id="xk" group="Lấy hàng">
                    <a href="/admin/xk">Lấy hàng</a>
                </div>

            }

            @if (Global.Commons.CheckPermit("thietlaphethong"))
            {

                <div class="menu-e" id="gomhang" group="Lấy hàng">

                    @Html.ActionLink("Gom đầu 8 để xét châm hàng", "GomHang", "Admin")
                </div>
            }
            @if (Global.Commons.CheckPermit("ViewXK"))
            {
                <div class="menu-e" id="viewxk" group="Lấy hàng">
                    <a href="/admin/ViewXK?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Xem phiếu lấy hàng</a>
                </div>
            }

            @if (Global.Commons.CheckPermit("dihang"))
            {
                <div class="menu-e" id="dihang" group="Di hàng">
                    <a href="/admin/phieudihang">Di hàng theo vị trí</a>
                </div>
                <div class="menu-e" id="dihangnhanh" group="Di hàng">
                    <a href="/admin/dihangnhanh">Di hàng nhanh</a>
                </div>


            }
            @if (Global.Commons.CheckPermit("dihangtubenngoai"))
            {
                <div class="menu-e" id="dihangtubenngoai" group="Di hàng">
                    <a href="/admin/phieudihang?from=TUNGOAI">Di hàng từ bên ngoài vào</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("dihangtheoma"))
            {<div class="menu-e" id="dihangtheoma" group="Di hàng">
                <a href="/admin/dihangtheoma">Di hàng theo mã</a>
            </div>
            }
            @if (Global.Commons.CheckPermit("xemdihang"))
            {
                <div class="menu-e" id="xemdihang" group="Di hàng">
                    <a href="/admin/XemCacPhieuDiHang?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Xem các phiếu di hàng</a>
                </div>

            }
            @if (Global.Commons.CheckPermit("nhomdihang"))
            {
                <div class="menu-e" id="nhomdihang" group="Di hàng">
                    <a href="/admin/NhomDiHang?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Import di hàng</a>
                </div>

            }

            @if (Global.Commons.CheckPermit("chiahang"))
            {
                <div class="menu-e" id="chiahang" group="Lấy hàng">
                    <a href="/admin/chiahang">Chia hàng</a>
                </div>

            }

            @if (Global.Commons.CheckPermit("xtvtlh"))
            {
                <div class="menu-e" id="xcvt">
                    <a href="/admin/xtvtlh">Xác thực vị trí lấy hàng</a>
                </div>

            }

            @if (Global.Commons.CheckPermit("ssnk") && Global.Commons.CheckPermit("ql"))
            {
                <div class="menu-e" id="ssnk" group="Pallet">
                    <a href="/admin/ssnk">So sánh nhập kho</a>
                </div>

            }

            @if (Global.Commons.CheckPermit("xacnhan"))
            {
                <div class="menu-e" id="id8" group="Scanner">
                    <a href="/admin/id8">Xem và in đầu 8 </a>
                </div>
            }
            @if (Global.Commons.CheckPermit("updatescanner"))
            {
                <div class="menu-e" id="updatescanner" group="Scanner">
                    <a href="/admin/updatescanner">Cập nhật bàn quét </a>
                </div>

            }
            @if (Global.Commons.CheckPermit("updatescannerforout"))
            {
                <div class="menu-e" id="updatescannerforout" group="Scanner">
                    <a href="/admin/updatescannerforout">Cập nhật outbound tặng phẩm </a>
                </div>
            }
            @if (Global.Commons.CheckPermit("viewscanner"))
            {
                <div class="menu-e" id="viewscanner" group="Scanner">
                    <a href="/admin/viewscanners?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Danh sách đầu 8 đã đóng gói</a>
                </div>

            }
            @if (Global.Commons.CheckPermit("viewscannerforout"))
            {
                <div class="menu-e" id="viewscannerforout" group="Scanner">
                    <a href="/admin/viewscannerForOut?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Danh sách outbound tặng phẩm</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("kexetchamhang"))
            {
                <div class="menu-e" id="kecham" group="Châm hàng">
                    <a href="/admin/kecham">Vị trí để xét châm hàng</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("baocaochamhang"))
            {
                <div class="menu-e" id="baocaochamhang" group="Châm hàng">
                    <a href="/admin/baocaochamhang">Vị trí cần châm</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("baocao"))
            {
                <div class="menu-e" id="baocao" group="Châm hàng">
                    <a href="/admin/baocao">Báo cáo châm hàng</a>
                </div>
            }


            @if (Global.Commons.CheckPermit("tracuuton"))
            {
                <div class="menu-e" id="tracuuton">
                    <a href="/admin/tracuuton">Tra cứu tồn</a>
                </div>
                <div class="menu-e" id="truyvet">
                    <a href="/admin/truyvet">Truy vết</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("kk"))
            {
                <div class="menu-e" id="kk" group="Kiểm kê">
                    <a href="/admin/kk?d=@DateTime.Now.ToString("yyyy.MM.dd")">Kiểm kê</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("xkk"))
            {
                <div class="menu-e" id="xkk" group="Kiểm kê">
                    <a href="/admin/ViewKK?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Xem kiểm kê</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("xkk") && Global.Commons.CheckPermit("ql") == false)
            {
                <div class="menu-e" id="xkkn" group="Kiểm kê">
                    <a href="/admin/ViewKKN?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Xem nhanh kiểm kê</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("xkkth"))
            {
                <div class="menu-e" id="xkkth" group="Kiểm kê">
                    <a href="/admin/ViewKKth?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Xem kiểm kê theo hàng</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("PendingOB"))
            {
                <div class="menu-e" id="pendingob" group="Ra cổng">
                    <a href="/admin/PendingOB">Kiểm tra outbound</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("ViewPending"))
            {
                <div class="menu-e" id="viewpending" group="Ra cổng">
                    <a href="/admin/ViewPending?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Danh sách phiếu pending</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("viewtrucks"))
            {
                <div class="menu-e" id="viewtrucks" group="Ra cổng">
                    <a href="/admin/viewtrucks">Danh mục xe</a>
                </div>
            }

            @if (Global.Commons.CheckPermit("viewnvc"))
            {
                <div class="menu-e" id="viewnvc" group="Ra cổng">
                    <a href="/admin/viewnvc">Danh mục nhà vận chuyển</a>
                </div>
            }
            @if (Global.Commons.CheckPermit("racong"))
            {
                <div class="menu-e" id="racong" group="Ra cổng">
                    <a href="/admin/RaCong">Lập phiếu ra cổng</a>
                </div>
                <div class="menu-e" id="vprc" group="Ra cổng">
                    <a href="/admin/ViewPRC?from=@DateTime.Now.ToString("dd/MM/yyyy")&to=@DateTime.Now.ToString("dd/MM/yyyy")">Danh sách phiếu ra cổng</a>
                </div>

            }
        </div>
    </div>
    <div class="clear">
    </div>

    <div class="main">
        <div class="main-content">



            <div id="dlgmypass" class="easyui-dialog" style="width: 350px; display: none" closed="true" buttons="#dlg-buttonsmypass">
                <form id="fmmypass" method="post" novalidate style="margin: 0; padding: 20px 50px">
                    <div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">Đổi mật khẩu</div>
                    <div style="margin-bottom: 10px">
                        <input id="OldPassword" name="OldPassword" class="easyui-passwordbox" required="true" label="Mật khẩu cũ:" style="width: 100%">
                    </div>
                    <div style="margin-bottom: 10px">
                        <input id="mypassword" name="MyPassword" class="easyui-passwordbox" required="true" label="Mật khẩu:" style="width: 100%">
                    </div>
                    <div style="margin-bottom: 10px">
                        <input id="myrepassword" name="MyRePassword" class="easyui-passwordbox" required="true" validtype="confirmPass['#mypassword']" label="Xác nhận lại mật khẩu:" style="width: 100%">
                    </div>


                </form>
            </div>

            <div id="dlg-buttonsmypass" style="display: none">
                <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveMyPassword()" style="width: 90px">Lưu</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlgmypass').dialog('close')" style="width: 90px">Bỏ qua</a>
            </div>
            <script>
                function converttodate(value) {
                    var ss = (value.split('/'));
                    var y = parseInt(ss[2], 10);
                    var m = parseInt(ss[1], 10);
                    var d = parseInt(ss[0], 10);
                    return y + "." + (m < 10 ? ('0' + m) : m) + "." + (d < 10 ? ('0' + d) : d);
                }
                function myformatter(date) {
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    return (d < 10 ? ('0' + d) : d) + "/" + (m < 10 ? ('0' + m) : m) + "/" + y;
                }
                function myparser(s) {
                    if (!s) return new Date();
                    var ss = (s.split('/'));
                    var y = parseInt(ss[0], 10);
                    var m = parseInt(ss[1], 10);
                    var d = parseInt(ss[2], 10);
                    if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                        return new Date(d, m - 1, y);
                    } else {
                        return new Date();
                    }
                }

                function changeMyPassword() {
                    $('#dlgmypass').dialog('open').dialog('center').dialog('setTitle', 'Đổi mật khẩu của bạn');
                    $('#fmmypass').form('clear');
                    url = '/admin/ChangeMyPassword';
                }
                function saveMyPassword() {

                    $('#fmmypass').form('submit', {
                        url: url,
                        onSubmit: function () {
                            return $(this).form('validate');
                        },
                        success: function (result) {
                            var result = eval('(' + result + ')');
                            if (result.success == false) {
                                $.messager.show({
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            } else {
                                $.messager.show({
                                    title: 'Thông báo',
                                    msg: result.msg
                                });

                                $('#dlgmypass').dialog('close');        // close the dialog

                            }
                        }
                    });

                }
                $(document).ready(function () {
                    $(".menu-e").click(function () {
                        var arr = $(this).find("a").get();
                        location = $(arr[0]).attr("href");
                    });

                    $.post('/admin/CheckTimeLogin', null, function (result) {

                        if (result.success) {
                            ;
                        } else {
                            alert('Có người khác vừa sử dụng tài khoản này rồi. Vui lòng sử dụng tài khoản khác')
                            location = "/admin/Logout";
                        }

                    }, 'json');
                })
            </script>
            @RenderSection("featured", required: false)
            @RenderBody()

        </div>
    </div>
    <div class="clear">
    </div>
    <div class="footer">

        © Copyright 2018 Biti's. All Rights Reserved.

    </div>

</body>
</html>
<script>
    function fixmenu() {
        if ($(window).width() <= 600) return;


        var arr = new Array();
        var ll = $(".menu-main").find(".menu-e").get();
        for (var i = 0; i < ll.length; i++) {
            var found = 0;
            var groupid = $(ll[i]).attr("group");
            if (groupid == '' || groupid == null)
                continue;

            for (var j = 0; j < arr.length; j++) {
                if (arr[j] == groupid) {
                    found = 1;
                    break;
                }

            }
            if (found == 0) {
                arr[arr.length] = groupid;
            }
        }

        for (var i = 0; i < arr.length; i++) {
            var group = arr[i] + "";
            var p = "<div onmouseover='showthis(this)' class='menu-e grouptotal' id='group" + i + "'><a href='javascript:void(0)'>" + group.toUpperCase() + "</a></div>";
            $(".menu-main").append(p);
            var link = "";
            for (var j = 0; j < ll.length; j++) {
                if ($(ll[j]).attr('group') == group) {
                    $(ll[j]).addClass("group" + i);

                    //if (link == '')
                    //    link = $($(ll[j]).find("a").get()[0]).attr("href");
                }

            }

            //$("#group" + i + " a").attr("href", link);
        }

        for (var i = 0; i < ll.length; i++) {
            {
                var groupid = $(ll[i]).attr("group");
                if (groupid != '' && groupid != null)
                    $(ll[i]).hide();
            }


        }
    }
    function showthis(e) {
        $(".menugroup").remove();
        var p = "<div class='menugroup'>";
        var id = $(e).attr("id");
        var arr = $("." + id).get();
        var position = -1;
        for (var i = 0; i < arr.length; i++) {
            var r = $(arr[i]);
            if ($(r).hasClass("menuselect"))
                position = i;

            p += $(r).html();

        }
        p += "</div>";
        $(".menu-main").append(p);
        if (position >= 0)
            $(".menugroup a:eq(" + position + ")").css({ "background-color": "#f4f395", "color": "#C5161D" });
        var y = $(e).offset().top + 40;
        var x = $(e).offset().left;
        if (x + 300 > $(window).width()) {
            x = $(window).width() - x;
            x = x - $(e).width() - 20;
            $(".menugroup").css({ "top": y + "px", "right": x + "px" });

        }

        else
            $(".menugroup").css({ "top": y + "px", "left": x + "px" });

    }
    $(document).ready(function () {

        //if (isadmin == 'True') {
        if ($(window).width() > 600)
            fixmenu();
        else {
            $(".menugroup,.grouptotal").remove();
            $(".menu-e").removeAttr("style");
        }

        $(".menu-e").hover(function () {

            if ($(this).hasClass("grouptotal") == false) {
                $(".menugroup").remove();
            }
        });
        $(".main").click(function () {
            $(".menugroup").remove();
        });
        //if (isadmin == 'True')
        setTimeout(bookmarkgroup, 1000);

        //}
        var userid = '@Global.GlobalVariables.UserID';
        var cn = '@Global.GlobalVariables.CN';
        if (userid == '0' || cn == '') {
            location = '/admin/logout';
        }


    });
    function bookmarkgroup() {
        var group = $(".menuselect").attr("group");
        if (group != null) {
            if (group != "" && group != null) {
                var lg = $(".grouptotal").find("a").get();
                for (var i = 0; i < lg.length; i++) {
                    if ($.trim($(lg[i]).html()) == $.trim(group.toUpperCase())) {
                        $(lg[i]).parent().addClass("menuselect");
                        break;
                    }
                }
            }
        }
    }

    function checkssnk() {

        $.post('/admin/CheckSSNK', null, function (result) {

            if (result.success) {
                setTimeout(checkssnk, 5000);
            } else {
                alert(result.errorMsg);
                location = "/admin";
            }

        }, 'json');
    }

</script>